/* Fonts */

/* Main Font */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}

/* Body Font */ 
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

p{
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;

}

/* links - to overwrite colour scheme imparted by Spectre CSS */
a{
    color : black ;
    transition: 0.3s; 
}

a:visited{
   color : black; 
}

a:hover{
    color : #494848;
    text-decoration: none;
}

/* General containers */

/* Header */
.banner-wrap{
    background-image: url('./img/rendered.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height : 20vh;
    padding-left: 25%;
    padding-right : 25%;
}

.title{
    font-size: 4em;
    color:black;
    /* white shadow outline for Title / icons */
    text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF;
}


/* BODY */
.library_container{
    margin: 0rem 2rem 0rem 2rem;
    padding: .4rem;
} 

@media only screen and (max-width: 464px) {
    .library_container{
        margin : 0;
        padding : 0;
    }
}

.book_container{
    display : flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    margin : .2rem;
    padding-left : 5rem;
    padding-right : 5rem;
}

@media only screen and (max-width:1024px) {
    .book_container{
        padding-left : 0.2rem;
        padding-right : 0.2rem;
    }
}


/* footer css */
footer{
    z-index: 1;
    position : fixed;
    bottom : 0;
    left : 0;
    height :8%;

}

/* check out buttons and components */
.check_btn {
    color : white;
    font-size: 1.7em;
    width: 100%;
    margin: 0 auto;
    text-align:center;
    border-style: none;
}

.not-user-book {
    color : red ;
}

/* pop up nav bar */
.navBox{
    background-color: rgba(0,0,0,0.6);
    color : #dbdbdb;
    height :0%;
    width : 100%;
    position : fixed;
    z-index: 1;
    right : 0;
    bottom : 0;
    transition : 0.8s;
}

.nav-links{
    color : #dbdbdb;
    height : 100%;
    position: relative;
    width: 100%;
    text-align: center;
    transition :1s;
}
/* links + link text */
a.pop-link{
    color : #dbdbdb;
    font-size: 2.5em;
    transition : .3s;
    margin : .5rem;
}

a.pop-link:visited{
    color : #e6e6e6;
}

@media only screen and (max-height:700px) {
    .pop-link{
        font-size : 1.8em;
    }
}

a.pop-link:hover{
    color : white;
}

a.pop-link-faded{
    color : #9e9e9e;
    font-size: 2.5em;
    transition : .3s;
    margin : .5rem;
}

a.pop-link-faded:visited{
    color : #9e9e9e;
}

@media only screen and (max-height:700px) {
    .pop-link-faded{
        font-size : 1.8em;
    }
}

/* nav bar icon */
.nav-icon{
    z-index: 2;
    color : black;
    font-size: 4rem;
    position: fixed;
    right : 75%;
    top : 85%;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

a.navOpen{
    z-index: 2;
}
/* search / filter */

.searchbox{
    background-color: rgba(0,0,0,0.6);
    color : #dbdbdb;
    height :0%;
    width : 100%;
    position : fixed;
    z-index: 1;
    right : 0;
    bottom : 0;
    transition : 0.8s;
}

.searchform{
    text-align: center;
    position: relative;
    top: 25%;
}

.search_input{
    width : 30%;
    font-size: 1.2em;
}

@media only screen and (max-width: 464px) {
    .search_input{
        width : 70%;
        font-size : 0.8em;
    }
}

.genreFilter{
    text-align: center;
    position: relative;
    top: 40%;
}

.genreFilterSelect{
    width : 30%;
    background-color:white;
    font-size: 1.2em;
}

@media only screen and (max-width: 464px) {
    .genreFiterSelect{
        width : 80%;
        font-size : 0.8em;
    }
}

.add{
    position: fixed;
    left : 47%;
    top : 85%;
    transition : 0.8s;
}

@media only screen and (max-width: 464px) {
    .add{
        left : 40%;
    }
}

.search-icon{
    color : black;
    font-size: 4rem;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.search-icon:visited{
    color : black;
    text-decoration: none;
}


/* add book icon */
.search{
    position: fixed;
    left : 75%;
    top : 85%;
}

.add-icon{
    color : black;
    font-size: 4rem;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}


/* registration forms */
.signup{
    text-align: center;
}

.signupform{
    margin : 5% 20% 5% 20%;
    padding : 3%;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

@media only screen and (max-width : 600px){
    .signupform{
        margin : 0;
        padding : 0;
        border-width: 0;
    }
}


.loginform{
    max-width: 80%;
} 


/* library cards css */
.lib_card{
    margin: .5rem;
    padding : .4rem;
    background-color:#93D2F9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height : 260px;
    width : 160px;
    box-sizing: border-box;
}
/* large screens */
@media only screen and (min-width: 768px) {
    .lib_card{
        margin: .5rem;
        padding : .4rem;
        height : 320px;
        width : 300px;
        box-sizing: border-box;
    }
}

/* small mobile */
@media only screen and (max-width: 380px) {
    .lib_card{
        margin: 0.1rem;
        padding : .2rem;
        height : 250px;
        width : 150px;
        box-sizing: border-box;
    }
}

/* v small mobile */
@media only screen and (max-width: 320px) {
    .lib_card{
        margin: 0.1rem;
        padding : .2rem;
        height : 250px;
        width : 130px;
        box-sizing: border-box;
    }
}

.lib_card:hover {
    background-color:#59BAF6  ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.checked{
    padding : .4rem;
    background-color: #F9BA93;
    color : whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height : 260px;
    width : 160px;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .lib_card{
        margin: .5rem;
        padding : .4rem;
        height : 300px;
        width : 250px;
        box-sizing: border-box;
    }
}

/* small mobile */
@media only screen and (max-width: 380px) {
    .lib_card{
        margin: 0.1rem;
        padding : .2rem;
        height : 250px;
        width : 150px;
        box-sizing: border-box;
    }
}

/* v small mobile */
@media only screen and (max-width: 320px) {
    .lib_card{
        margin: 0.1rem;
        padding : .2rem;
        height : 250px;
        width : 130px;
        box-sizing: border-box;
    }
}

.checked:hover {
    background-color:#F69559;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* archived cards */
.archived {
    background-color: rgba(206,206,206,206);
}

.archived:hover {
    background-color: rgba(168,168,168,168);
}

/* required to ensure whole book tile clickable for check-in / out without ugly anchor tag border */
.hide-link{
    display : contents;

    background-color: inherit;
    display:hidden;
    width: 100%;
    border-style: hidden;
    outline: none;
}

.hide_link_wrapper{
    display : block;
    height: 13rem;
    width: 100%;
}

/* add book form */
.add_book{
    text-align: center;
    padding-top : 5%;

}

.add_book_container{
    margin : 5% 20% 5% 20%;
    padding : 3%;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

@media only screen and (max-width : 600px){
    .add_book_container{
        margin : 0;
        padding : 0;
        border-width: 0;
    }
}