{% extends 'base.html' %}

{% block page_title %}Library{% endblock %}

{% block page_heading %}Library{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="book_container container">
            <div class="columns">
            {% for book in books %}
            {% if book.checkedOut %}
                <div class="lib_card checked col-xs-5 col-sm-5 col-md-3  col-lg-3 col-2">
                    <a class="hide-link" method="get" type="submit" href="{% url 'check_out' book.id %}">
            {% else %}
                <div class="lib_card col-xs-5 col-sm-5 col-md-3 col-lg-3 col-2">
                    <a class="hide-link" method="get" type="submit" href="{% url 'check_out' book.id %}">
            {% endif %}
                        <div class="hide-link-wrapper">
                <p>{{ book.title}}</p>
                <p>{{ book.author}}</p>
                <p>{{ book.genre}}<p>

            {% if user.is_superuser %} 
                <p>£{{ book.price}}</p>
            {% endif %}
            {% if book.checkedOut %}

                    <i class="fas fa-book check_btn"></i>

            {% else %}

                    <i class="fas fa-book-open check_btn"></i>
            
            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to browse the Library</p>
    {% endif %}
        </div>


{% endblock %}