{% extends 'base.html' %}

{% block page_title %}Library{% endblock %}

{% block page_heading %}Library{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
            <h2>Welcome to the Library {{user}}</h2>
            <div class="lib_container">
                {% for book in books %}
                {% if book.checkedOut %}
                    <div class="lib_card checked">
                {% else %}
                    <div class="lib_card">
                {% endif %}
                        <p>{{ book.title}}</p>
                        <p>{{ book.author}}</p>
                        <p>{{ book.genre}}<p>

                {% if user.is_superuser %} 
                    <p>£{{ book.price}}</p>
                {% endif %}
                {% if book.archived and is_superuser %}
                    <p>{{ book.archived }}</p>
                {% endif %}
                {% if not book.checkedOut %}
                    <button class="check_btn">
                        <i class="fas fa-book-open"></i>
                    </button>
                {% endif %}
            </div>
                {% endfor %}
    {% else %}
        <h2>Please <a href="{% url 'login' %}">log in</a> to browse the Library</h2>
    {% endif %}
</div>
{% endblock %}