{% extends 'base.html' %}

{% block page_title %}Library{% endblock %}

{% block page_heading %}Library{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
            <div class="lib_container">
                {% for book in books %}
                {% if book.checkedOut %}
                    <div class="lib_card checked">
                {% else %}
                    <div class="lib_card">
                {% endif %}
                        <p>{{ book.title}}</p>
                        <p>{{ book.author}}</p>
                        <p>{{ book.genre}}<p>

                {% if user.is_superuser %} 
                    <p>£{{ book.price}}</p>
                {% endif %}
                {% if book.archived and is_superuser %}
                    <p>{{ book.archived }}</p>
                {% endif %}
                {% if book.checkedOut %}
                    <button class="check_btn button button-outline" name="check_in_out" type="submit">
                        <i class="fas fa-book" onClick="{{ check_in_out}}"></i>
                    </button>
                {% else %}
                    <button class="check_btn button button-outline" name="check_in_out" type="submit">
                        <i class="fas fa-book-open" onClick="{{ check_in_out }}"></i>
                    </button>
                {% endif %}
            </div>
                {% endfor %}
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to browse the Library</p>
    {% endif %}
</div>


{% endblock %}