{% load static %}

<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'main.css'%}">
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </head>
    <body class="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <div class="banner-wrap">
                <a href={% url 'books'%}><h1 class="title">{% block page_heading %}{% endblock %}</h1></a>
                        
                {% if user.is_superuser %}
                    <a class="add" href="{% url 'add_book' %}"><i class="fas fa-plus-circle add-icon"></i></a>
                {% endif %}

                <a href="javascript:void(0)" class="navOpen" onclick="navUp()"><i class="fas fa-bars nav-icon"></i></a>
            </div>
            <div class="searchbox" id="stickyBar">
                <form class="searchform col-xs-10 col-3" action="{% url 'search' %}" method="get">
                    <input type="text" class="search_input col-xs-12 col-10" placeholder="Search" name="bkSearch" onChange="form.submit();">
                </form>
                <form class="genreFilter col-xs-12 col-3" action="{% url 'filter' %}" method="get">
                    <select name="gFilter" onChange="form.submit();" class="col-xs-12 xol-3">
                        <option value="{{ Book }}" selected="selected">Genre Filter</option>
                        <option value="PD">PD</option>
                        <option value="PA">PA</option>
                        <option value="Other">Other</option>
                    </select>    
                </form>
            </div>
        </header>
        <section class="library_container">
        <hr>
        {% block content %}
        {% endblock %}
            <div id="popNav" class="navBox">

                <!-- nav links -->

                <div id="navLink" class="nav-links">
                    {% if user.is_authenticated %}
                        <a href="{% url 'books' %}" class="pop-link">Home</a>
                            <br>
                        <a href="#" class="pop-link-faded">Login</a>
                            <br>
                        <a href="{% url 'logout' %}" class="pop-link">Logout</a>
                            <br>
                        <a href="#" class="pop-link-faded">Join</a>
                            <br>
                        <a href="{% url 'user_card'%}" class="pop-link">Card</a>
                            <br>
                    {% else %}
                        <a href="#" class="pop-link-faded">Home</a>
                            <br>
                        <a href="{% url 'login' %}" class="pop-link">Login</a>
                            <br>
                        <a href="#" class="pop-link-faded">Logout</a>
                            <br>
                        <a href="{% url 'signup' %}" class="pop-link">Join</a>
                            <br>
                        <a href="#" class="pop-link-faded">Card</a>
                            <br>
                    {% endif %}
                </div>
            </div>
        </section>
        <footer>
            {% if user.is_superuser %}
                <a class="add" href="{% url 'add_book' %}" ><i  class="fas fa-plus-circle add-icon"></i></a>
            {% endif %}

            <a href="javascript:void(0)" class="navOpen" onclick="navUp()"><i class="fas fa-bars nav-icon"></i></a>
        </footer>

    </body>
</html>