{% load static %}

<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'main.css'%}">
    </head>
    <body class="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <a href={% url 'books'%}><h1>{% block page_heading %}{% endblock %}</h1></a>
            <div class="seach-filter container columns">
                <nav class="col-xs-12 col-10">
                    <ul class="columns nav_section">
                        {% if user.is_authenticated %}
                            <a class="col-xs-6 col-6" href="{% url 'logout' %}">Logout</a>  <a class="col-xs-4 col-2" href="{% url 'user_card'%}">Card</a>
                        {% else %}
                            <a class="col-xs-6 col-6" href="{% url 'login' %}">Login</a>  <a class="col-xs-4 col-2" href="{% url 'signup' %}">Join</a>
                        {% endif %}
                        <form class="searchform col-xs-10 col-3" action="{% url 'search' %}" method="get">
                        <input type="text" class="search_input col-xs-12 col-10" placeholder="Search" name="bkSearch" onChange="form.submit();">
                    </form>
                    <form class="genreFilter col-xs-12 col-3" action="{% url 'filter' %}" method="get">
                        <select name="gFilter" onChange="form.submit();" class="col-xs-12 xol-3">
                            <option value="{{ Book }}" selected="selected">Genre Filter</option>
                            <option value="PD">PD</option>
                            <option value="PA">PA</option>
                            <option value="Other">Other</option>
                        </select>    
                    </form>
                    </ul>
                </nav>    
                    
                    {% if user.is_superuser %}
                        <a class="add" href="{% url 'add_book' %}"><i class="fas fa-plus-circle add-icon"></i></a>
                    {% endif %}
            </div>
        </header>
        <section class="library_container">
        <hr>
        {% block content %}
        {% endblock %}
        </section>
    </body>
</html>