{% extends 'base.html' %}

{% block page_title %}Card{% endblock %}
{% block page_heading %}Card{% endblock %}




{% block content %}
<h2>Subscribe for only £4.99</h2>
<form action="{% url 'pay' %}" method="post">
{% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_RDA0sZZHdByA9ZIU5vSnPzKb00mv3JHfPk"
        data-description="Dajngo Library Subscription"
        data-amount="499"
        data-locale="auto">
    </script>
</form>
    {% if user.is_authenticated %}
        <div class="container columns">
            {% for book in books %}
                <div class="lib_card col-xs-5 col-sm-5 col-md-3 col-lg-3 col-2">
                    <p>{{ book.title}}</p>
                    <p>{{ book.author}}</p>
                    <p>{{ book.genre}}<p>
                </div>
            {% endfor %}
    {% endif %}
        </div>


{% endblock %}