{% extends 'base.html' %}

{% block page_title %}Card{% endblock %}
{% block page_heading %}{{user}}'s Card{% endblock %}



{% block content %}

    {% if user.is_authenticated %}
        <div class="container columns">
            {% for book in books %}
                <div class="lib_card col-xs-5 col-sm-5 col-md-3 col-lg-3 col-2">
                    <p>{{ book.title}}</p>
                    <p>{{ book.author}}</p>
                    <p>{{ book.genre}}<p>
                </div>
            {% endfor %}
    {% endif %}
        </div>


{% endblock %}