{% extends 'base.html' %}

{% block page_title %}Card{% endblock %}
{% block page_heading %}{{user}}'s Card{% endblock %}



{% block content %}

    {% if user.is_authenticated %}
    <a class="fees-link" href={% url 'fees_pay'%}>Click to pay Fees</a>
        <div class="lib_container">
            {% for book in books %}
                <div class="lib_card card">
                    <p>{{ book.title}}</p>
                    <p>{{ book.author}}</p>
                    <p>{{ book.genre}}<p>
                </div>
            {% endfor %}
    {% endif %}
        </div>


{% endblock %}