{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block page_heading %}Home{% endblock %}


{% block content %}
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="#">Card</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr>
    {% if messages %}
        <div>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
</body>
{% endblock %}