{% extends 'base.html' %}

{% block page_title %}Login{% endblock %}
{% block page_heading %}Login{% endblock %}

{% block content %}
<body>

    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'user_card'%}">Card</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                 <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
            
        </ul>
    </nav>
    <hr>
    {% if messages %}
        <div>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">  
        {% csrf_token %} 
        {{ login_form }}
        <button type='submit' class='btn btn-primary' value='Submit'>Login</button>
    </form> 
    <p>If you already have an account, but can't remeber your password you can <a href="{% url 'password_reset' %}">reset </a>it here</p>
</body>

{% endblock %}